body { margin: 1in; }

/* Logical styles */

.add { }

.delete { }

.moved-to { }

.moved-from { }

/* Actual display styles */

.hidden { display: none; }

.delete-display {  color: red; text-decoration: line-through; }

.add-display { color: blue; }

.moved-to-display { background-color: #ffc; }

.moved-from-display { background-color: #ccc; }
