body { margin: 1.5in; }

#buttons { position: fixed; top: 6px; left: 6px; width: 1in; list-style-type: none; padding: 0; }
#buttons li button { padding-left: 3px; width: 90%; background: #eee; }

/* Logical styles */

.add { }

.delete { }

.moved-to { }

.moved-from { }

/* Actual display styles */

.hidden { display: none; }

.delete-display {  color: red; text-decoration: line-through; }

.add-display { color: blue; }

.moved-to-display { background-color: #ffc; }

.moved-from-display { background-color: #ccc; }

.selected { font-weight: 900; background: #888 !important; }